<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="banthe247Entities" connectionString="metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INSTANCE-B24H\SQLEXPRESS;initial catalog=doithe66;user id=sa;password=hhp@1245832;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="doithe247Entities" connectionString="metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INSTANCE-B24H\SQLEXPRESS;initial catalog=doithe66;user id=sa;password=hhp@1245832;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="WebApiDbEntities" connectionString="metadata=res://*/WebApiDataModel.csdl|res://*/WebApiDataModel.ssdl|res://*/WebApiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.30.146.232;initial catalog=banthe247.com;persist security info=True;user id=sa;password=Ayd2j0_4;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="WebApiDbEntities" connectionString="metadata=res://*/WebApiDataModel.csdl|res://*/WebApiDataModel.ssdl|res://*/WebApiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INSTANCE-B24H\SQLEXPRESS;initial catalog=doithe66;user id=sa;password=hhp@1245832;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="WebApiDbEntities" connectionString="metadata=res://DataModel/WebApiDataModel.csdl|res://DataModel/WebApiDataModel.ssdl|res://DataModel/WebApiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.banthe247.com;initial catalog=Banthe247_DB;persist security info=True;user id=banthe247;password=Ayd2j0_4;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=107.167.185.32;Initial Catalog=aspnet-WebApi-20150507122028;Integrated Security=SSPI" />-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=doithe123;Persist Security Info=True;User ID=sa;Password=1234$"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="AuthTokenExpiry" value="1800"/>
    <add key="ispremobilenumber" value="091,094,0123,0125,0127,097,098,0165,0166,0167,0168,0169,090,093,0121,0122,0126,0128,092,095,0199,096"/>
    <add key="viettel" value="097|098|0165|0166|0167|0168|0169|0164|"/>
    <add key="mobilephone" value="090|093|0121|0122|0126|0128|"/>
    <add key="vinaphone" value="091|094|0123|0125|0127|0129|"/>
    <add key="beeline" value="0199|"/>
    <add key="vietnammobile" value="092|"/>
    <add key="sphone" value="095|"/>
    <add key="evn" value="096|"/>
    <add key="TopupPartner" value="partnerTest_NET|123"/>
    <add key="TopupPass" value="123456abc"/>
    <add key="Topupkey_3DES" value="123456abc"/>
    <add key="publickey" value=""/>
    <add key="privatekey" value=""/>
    <add key="webapibaseurl" value="https://doithe66.com/"/>
    <add key="user" value="doithe66.com"/>
    <add key="pass" value="doithe66@12354"/>
    <add key="partnercode" value="194"/>
    <add key="mpin" value="doithe66.vn.mpin"/>
    <add key="vnpay_tid" value="10008601"/>
    <add key="vnpay_secretkey" value="cc03e747a6afbbcbf8be7668acfebee5"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="MailSender" value="admin@doithe123.com"/>
    <add key="AccMailUser" value="admin@doithe123.com"/>
    <add key="AccMailPass" value=""/>
    <add key="MailPort" value="587"/>
    <add key="EnableSSL" value="true"/>
    <add key="revt" value="0"/>
	<add key="napnhanh" value="0"/>
    <add  key="regate" value="0"/>
    <add key="GsecretedKey" value="9b11495a484e4495e32a306fb68046f5"/>
    <add key="Gpassprivate"  value="42d93ec8"/>
    <add key="10000" value="0.03"/>
    <add key="14000" value="0"/>
    <add key="20000" value="0.03"/>
    <add key="28000" value="0"/>
    <add key="30000" value="0.03"/>
    <add key="42000" value="0"/>
    <add key="50000" value="0"/>
    <add key="56000" value="0"/>
    <add key="84000" value="0"/>
    <add key="100000" value="0"/>
    <add key="160000" value="0"/>
    <add key="170000" value="0"/>
    <add key="190000" value="0"/>
    <add key="290000" value="0"/>
    <add key="250000" value="0"/>
    <add key="340000" value="0"/>
    <add key="390000" value="0"/>
    <add key="200000" value="0"/>
    <add key="300000" value="0"/>
    <add key="500000" value="0"/>
    <add key="570000" value="0"/>
    <add key="770000" value="0"/>
    <!-- cấu hình phí rút tiền-->
	<add key="bankdefault" value="12000"/>
    <add key="maritime bank" value="12000"/>
    <add key="sacombank" value="12000"/>
    <add key="techcombank" value="12000"/>
    <add key="vietcombank" value="12000"/>
    <add key="dongabank" value="12000"/>
    <add key="agribank" value="12000"/>
    <add key="acbbank" value="12000"/>
    <add key="tienphongbank" value="12000"/>
    <!--VTC Key-->
    <add key="epaymerchan" value="880002241"/>
    <add key="epaysendkey" value="lNB1xWUbtOcSHkDVT869LPja"/>
    <add key="epayreceivedkey" value="ICSj1imSUwIkdA0WXo0AdVb9"/>
    <!--ChonKenh-->
    <add key="ChonKenh" value="VNP"/>
    <add key="HDsecretKey" value="paycard247@sk@11qaz"/>
    <add key="HDpassword" value="paycard247@123edc"/>
    <add key="HDpartnerCode" value="PAYCARD247"/>
    <add key="HDaccountid" value="test001"/>
    <add key="HDserviceCode" value="test001"/>
    <add key="HDurlsanbox" value="http://125.212.250.88:8180/voucher/rest/useCard"/>
    <add key="HDurlgettrans" value="http://125.212.250.88:8180/voucher/rest/getTransactionDetail"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Page404.htm"/>
    <trust level="Full"/>
    <compilation targetFramework="4.5"/>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
  <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="true" mimeType="application/json; charset=utf-8" />
        <add enabled="true" mimeType="text/css"/>
        <add enabled="false" mimeType="*/*" />
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/json; charset=utf-8" />
        <add enabled="true" mimeType="text/css"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>

    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Audio/Video mime types-->
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <remove fileExtension=".ttc" />
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".crx" />
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
      <remove fileExtension=".xpi" />
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
      <remove fileExtension=".safariextz" />
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
      <!-- Flash Video mime types-->
    </staticContent>

    <httpErrors>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <!-- full url when responsemode is Redirect -->
      <error statusCode="401" path="/Page401.htm" responseMode="Redirect"/>
      <!-- local relative path when responsemode is ExecuteURL -->
      <error statusCode="403" path="/Page404.htm" responseMode="Redirect"/>
      <error statusCode="404" path="/Page404.htm" responseMode="Redirect"/>
      <error statusCode="500" path="/Page404.htm" responseMode="Redirect"/>
    </httpErrors>
    
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <applicationSettings>
    <WebApi.Properties.Settings>
      <setting name="WebApi_vn_net_megapay_itopup_InterfacesService"
        serializeAs="String">
        <value>http://itopup-test.megapay.net.vn:8086/CDV_Partner_Services_V1.0/services/Interfaces</value>
      </setting>
      <setting name="WebApi_GoodsPaygate_GoodsPaygate" serializeAs="String">
        <value>https://pay.vtc.vn/WS/GoodsPaygate.asmx</value>
      </setting>
      <setting name="WebApi_IOMPartnerService_PartnerServiceService"
        serializeAs="String">
        <value>http://ipayservice.vn:8686/IPayService/services/PartnerService</value>
      </setting>
      <setting name="WebApi_SOAPHeaderService_GetTopupTelcoService"
        serializeAs="String">
        <value>http://topup.paycard999.com/GetTopupTelcoService.asmx</value>
      </setting>
      <setting name="doithe247_TQSServices_CardQuery" serializeAs="String">
        <value>http://103.68.81.123:6868/cardquery.asmx</value>
      </setting>
      <setting name="doithe247_EBayChargingService_ServicesService"
        serializeAs="String">
        <value>http://charging-service.megapay.net.vn/CardChargingGW_V2.0/services/Services</value>
      </setting>
      <setting name="WebApi_VnTopupV2_VnpSrv" serializeAs="String">
        <value>http://210.245.12.220:19061/VnTopupService/VnpSrv.asmx</value>
      </setting>
      <setting name="WebApi_secondtelco_TelcoWebServiceImplService"
        serializeAs="String">
        <value>http://43.239.223.185:8080/webservice/TelcoAPI</value>
      </setting>
      <setting name="WebApi_VnPayment_PaymentApi" serializeAs="String">
        <value>https://www.vnmart.vn/merchantapi/PaymentApi.asmx</value>
      </setting>
      <setting name="nap365_homepayws_TopUp" serializeAs="String">
        <value>http://api.homepay.vn/apimerchant/TopUp.asmx</value>
      </setting>
  <setting name="nap365_hunghapaymailsService_SendMail" serializeAs="String">
        <value>http://mails.hunghapay.com/SendMail.asmx</value>
      </setting>
      <setting name="nap365_HHPStore_BuyCards" serializeAs="String">
        <value>http://store.paycard999.com/BuyCards.asmx</value>
      </setting>
      <setting name="nap365_CreateCashOutHHP_CreateCashOut" serializeAs="String">
        <value>https://cashout.hunghapay.com/TaoLenhRutTien.asmx</value>
      </setting>
      <setting name="doithe24h_EPayServices_Service" serializeAs="String">
        <value>http://bank.megapay.net.vn:10001/service.asmx</value>
      </setting>
    </WebApi.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>